@import url("reset.css");

html, body {
    background: #253141;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

header .left-menu {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
}

header .right-menu {
    background: rgba(255, 0, 0, 0.5);
}